@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

body .collapse {
    visibility: visible;
}

.full-width {
    width: 100%;
}

body button, body button.bg-green-500 {
    color: #333!important;
}

@keyframes spotlight {
  from {
    transform: scale(0.95) translateY(-10px);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.animate-spotlight {
  animation: spotlight 0.2s ease-out;
}

.mantine-Input-input {
    border: 0px solid;
    background: transparent;
    padding: 0;
}

div.border.mantine-DateTimePicker-root {
  padding-top: 10px!important;
  padding-bottom: 10px !important;
}

.price {
    font-size: 3em;
}


.action-button {
text-align: center;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-button.text-white {
  color: white!important;
}
.action-button.text-white svg {
  color: white;
}
.action-button svg{
    width: 60px;
    height: 60px
}
.show-mobile {
    display: none!important;
}

@media (max-width: 768px) {
  .action-button {
    border-radius: 15px;
    width: 100%;
    height: initial!important;
    padding: 10px;
  }
  .action-button svg{
    width: 40px;
    height: 40px;
  }

  .icon svg{
    position: absolute;
    left: -20px;
    top: 50%;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .show-mobile {
    display: block !important;
  }

}

